{
  "extends": ["next", "prettier", "next/core-web-vitals", "plugin:cypress/recommended", "plugin:testing-library/react", "plugin:jest-dom/recommended" ],
  "plugins": ["testing-library", "jest-dom"]
}
